
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2em;
}
nav {
  border: 1px solid black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  flex-grow:1;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

li.selected a {
  text-decoration: underline;
}

.flex-example {
  display: flex;
  flex-wrap:wrap;
  border: 1px solid black;;
}

.flex-example p {
  flex-grow: 1;
  border: 1px solid red;
  width: 600px;
}