---
navPages:
  - title: Home
    url: /index.html
  - title: Newsletter
    url: /newsletter
  - title: Store
    url: ./store
  - title: Contact
    url: /contact
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noah's Farm: Home</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        {%- for entry in navPages %}
          <li {% if entry.title == name %} class="selected" {% endif %} >
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>